@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 13%);
    color: #FFFFFF;
}

p {
    font-size: 14px;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 700;
}
h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

h6 {
    font-size: 14px;
    font-weight: 700;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.logo {
    height: 50px;
    margin-left: 50px;
}

.lista-menu {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.itens-menu {
    margin-right: 20px;
}

.itens-menu a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }
    
    .menu {
        width: 100%;
        justify-content: space-between;
        padding-left: 35px;
        padding-right: 20px;
        margin-bottom: -55px;
    }

    .logo {
        height: 30px;
        margin-left: 0;
    }

    .lista-menu {
        margin-right: 0px;
    }

    .itens-menu {
        margin-right: 10px;
    }

    .itens-menu a {
        font-size: 13px;
    }
}
.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 720px;
    height: 534px;
    margin-bottom: 100px;
}

.botao{
    text-decoration: none;
    color: white;
}

.botao--box {
    width: 200px;
    height: 50px;
    background-color: hsl(176, 68%, 64%);
    border: 1px solid hsl(176, 68%, 64%);
    margin: auto;
    padding: calc((50px - 14px)/2);
    text-align: center;
    justify-content: center;
    border-radius: 25px;

}

@media screen and (max-width: 480px) {
    .descricao {
        margin-top: 35px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: calc((100vw - 90%)/2);
        text-align: center;
        margin-bottom: -35px;
    }

    .descricao img {
        width: 90%;
        margin-bottom: 20px;
    }
}

.container--beneficios {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px;
}

.container--beneficios1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.container--beneficios2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.box1 {
    width: 400px; 
    text-align: center;
}

.box2 {
    width: 400px; 
    text-align: center;
}

.icone--beneficios {
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {

    .container--beneficios1 {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15px;
    }

    .container--beneficios2 {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: -55px;
    }

    .box1 {
        width: 80%;
        margin-bottom: 25px;
    }

    .box2 {
        width: 80%;
        margin-bottom: 15px;
    }
}

.container--produtive {
    display: flex;
    flex-direction: row;
    height: 465px;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 100px;
}

.svg-produtive {
    width: 615px;
}

.texto--produtive {
    display: flex;
    flex-direction: column;
    width: 485px;
    justify-content: center;
}

.texto--produtive p {
    margin-bottom: 15px;
}

.texto--produtive a {
    color: hsl(176, 68%, 64%);
}

@media screen and (max-width: 480px) {
    .container--produtive {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .svg-produtive{
        width: 90%;
    }

    .texto--produtive {
        width: 90%;
        text-align: flex-start;
    }
    .texto--produtive h1 {
        font-size: 16px;
        text-align: center;
        margin-top: 25px;
    }

}


.aspas {
    margin-left: 90px;
    margin-bottom: -10px;
}

.container--comentarios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 200px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: hsl(219, 30%, 18%);
    padding: 35px 25px;
    text-align:start;
    box-shadow: 10px 5px hsl(217, 28%, 15%)
}

.perfil--box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.texto-box {
    display: flex;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: row;
}

.texto-box p {
    font-size: 12px;
}

.container--comentarios img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

@media screen and (max-width: 480px) {

    .aspas {
        width: 35px;
        margin-left: 10px;
    }

    .container--comentarios {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 25px;
    }

    .box {
        margin-bottom: 25px;
        width: 90%;
    }

}

.newsletter {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 750px;
    padding: 80px;
    background-color: hsl(217, 28%, 15%);
    margin: auto;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin-bottom: -100px;
}

.newsletter p {
    margin-bottom: 25px;
}

.newsletter a {
    color: white;
    text-decoration: none;
}

.botao--email{
    width: 200px;
    height: 50px;
    text-decoration: none;
    background-color: hsl(176, 68%, 64%);
    border: 1px solid hsl(176, 68%, 64%);
    margin: auto;
    padding: calc((50px - 14px)/2);
    text-align: center;
    justify-content: center;
    border-radius: 25px;
}

.email input {
    width: 350px;
    height: 50px;
    border-radius: 25px;
    padding-left: 15px;
}

@media screen and (max-width: 480px)  {
    .newsletter {
        width: 90%;
        padding: 30px;
    }
    .email {
        flex-direction: column;
        justify-content: start;
    }

    .email input {
        width: 280px;
    }

    .botao--email {
        width: 280px;
        margin-top: 25px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 53%, 9%);
    height: 500px;
    padding-top: 200px;
    padding-left: 50px;
}

.logo--footer {
    height: 50px;
    width: 169.22px;
    margin-left: 175px;
    margin-bottom: 30px;
}

.conteudo--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.endereco {
    display: flex;
    flex-direction: row;
    width: 320px;
    text-align:start;
    margin-right: 25px;
}

.endereco img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contato {
    display: flex;
    flex-direction: column;
}

.contato img {
    margin-right: 40px;
    justify-content: center;
    text-align: center;
    align-items: baseline;
}

.contato p {
    margin-bottom: 15px;
}

.sobre p, .termos p {
    margin-bottom: 15px;   
<<<<<<< HEAD
}

.rede--social{
    display: flex;
    flex-direction: row;
}

.icone-social {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
    padding: 4.5px;
    color: white;
}

@media screen and (max-width: 480px) {

    footer {
        height: 900px;
    }
    .logo--footer {
        margin-left: 15px;
        margin-bottom: 50px;
    }

    .conteudo--footer {
        flex-direction: column;
    }

    .endereco {
        margin-bottom: 35px;
    }

    .contato {
        margin-bottom: 50px;
    }

    .sobre, .termos {
        margin-bottom: 50px;
    }

    .rede--social {
        justify-content: center;
        margin-left: -40px;
    }

=======
>>>>>>> c795149a19dfa04e3dcc1a8c4a691db1e935eee2
}